
p {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    width: 100%;
    height: 100vh;
}
.top-content{
    width: 100%;
    height: 10%;
    background: #fa3e3e;
}
.middle-content{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40%;
    margin-top: 15px;
}
.widgets{
    width: 33%;
    height: 100%;
    background: #6aba67;
}
.bottom-content{
    width: 100%;
    height: 60%;
    background: blueviolet;
}